<div class="container-fluid">
  <section class="sectionOne">
    <h2>Send money to friends and family.</h2>
    <p>It's free to send money to friends and family in the U.S. when you use your bank account or PayPal balance.*</p>
    <a href="#" class="btn">Send money now</a>
    <p class="font">*Funds go quickly into their PayPal account. If they don't have one, they can sign up for free.</p>
  </section>
  <section class="sectionTwo">
    <h2>You might be surprised with how many online stores accept PayPal.</h2>
    <div class="digitalassets">
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/site_dark_desktop.png">
    </div>
    <h2>Shop 19 million online stores and counting.</h2>
    <div class="row">
      <div class="col-md-4">
        <h4>Shop your favorite brands.</h4>
        <p>PayPal is accepted where you shop – on over 75% of online merchants, from big brands to boutique sites.</p>
      </div>
      <div class="col-md-4">
          <h4>Who shops the world? You.</h4>
          <p>With PayPal, you can shop online stores in 200+ markets around the world so it's all right at your fingertips.</p>
      </div>
      <div class="col-md-4">
        <h4>Buy with confidence.</h4>
        <p>There's a reason why over 200 million people trust PayPal: it's easy and secure with benefits like Return Shipping on Us* and Purchase Protection.**</p>
      </div>
  </section>
</div>